<edit_controls>
	<jscode>{$linkdata}</jscode>
	<control field="Department">
	{$Department_editcontrol}
	</control>
	<control field="NIK">
	{$NIK_editcontrol}
	</control>
	<control field="Nama_Karyawan">
	{$Nama_Karyawan_editcontrol}
	</control>
	<control field="Sex">
	{$Sex_editcontrol}
	</control>
	<control field="POB">
	{$POB_editcontrol}
	</control>
	<control field="DOB">
	{$DOB_editcontrol}
	</control>
	<control field="Tax_Status">
	{$Tax_Status_editcontrol}
	</control>
	<control field="Address_Nama_Jalan">
	{$Address_Nama_Jalan_editcontrol}
	</control>
	<control field="Address_Nama_Desa">
	{$Address_Nama_Desa_editcontrol}
	</control>
	<control field="Address_Nama_Kec">
	{$Address_Nama_Kec_editcontrol}
	</control>
	<control field="Address_Nama_Kab">
	{$Address_Nama_Kab_editcontrol}
	</control>
	<control field="Address_Nama_Prov">
	{$Address_Nama_Prov_editcontrol}
	</control>
	<control field="Telp">
	{$Telp_editcontrol}
	</control>
	<control field="Position">
	{$Position_editcontrol}
	</control>
	<control field="Classification">
	{$Classification_editcontrol}
	</control>
	<control field="Section">
	{$Section_editcontrol}
	</control>
	<message>{$message}</message>
</edit_controls>