<!doctype html>
<html  {$html_attrs}>
	<head>
		<title>{$pagetitle}</title>
		<meta http-equiv="X-UA-Compatible" content="IE=7">
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<link REL="stylesheet" href="styles/default.css" type="text/css">
		{BEGIN rtlCSS}
		<link REL="stylesheet" href="styles/defaultRTL.css" type="text/css">
		{END rtlCSS}
		{BEGIN styleCSSFiles}
		<link REL="stylesheet" href="{$stylepath}" type="text/css">
		{END styleCSSFiles}
		{BEGIN pageCSSFiles}
		<link REL="stylesheet" href="{$pagestylepath}" type="text/css">
		{END pageCSSFiles}
		<!--[if IE]>
			<link REL="stylesheet" href="styles/defaultIE.css" type="text/css">
			{BEGIN IEcssFiles}
			<link REL="stylesheet" href="{$stylepathIE}" type="text/css">
			{END IEcssFiles}
		<![endif]-->
	</head>
	
	<body class="{$stylename}" {$bodyattrs}>
	{BEGIN body}
		{$header}
		<table   cellpadding="0" class="runner-toptable">
			<tr class="runner-header">
				<td class="runner-top" colspan=3>
					

{BEGIN container_search}
<table class="runner-c runner-c-search" cellpadding="0" align=center>


<tr class="runner-toprow style2 header"><td class="runner-cl"><img src="images/spacer.gif"></td><td class="runner-cc" ><div  class="runner-b-srchheader {$brickclass_srchheader}">MEDICAL - Advanced search
{$CrossElem}</div></td><td class="runner-cr"><img src="images/spacer.gif"></td></tr>


{BEGIN conditions_block}
<tr  class="runner-row style1 runner-b-srchconditions {$brickclass_srchconditions}"><td class="runner-cl"></td><td class="runner-cc runner-brickcontents" >	<center>
	<span class=fieldname>Criteria:&nbsp;</span>	
	<input type="radio" class="runner-radio-button" name="srchType" {$all_checkbox}><label for="all_checkbox"> All conditions</label>
	&nbsp;&nbsp;&nbsp;
	<input type="radio" class="runner-radio-button" name="srchType" {$any_checkbox}><label for="any_checkbox"> Any condition</label>
	</center></td><td class="runner-cr"></td></tr>{END conditions_block}



<tr  class="runner-row style1 runner-b-wrapper {$wrapperclass_fields}"><td class="runner-cl"></td><td class="runner-cc runner-brickcontents runner-wrapper" >

{BEGIN container_fields}
<table class="runner-c runner-c-fields" cellpadding="0" >


<tr class="runner-toprow header style2 runner-b-srchfields"><td class="runner-cl"><img src="images/spacer.gif"></td>
	<td class="runner-cc">&nbsp;</td>
	<td class="runner-cc">NOT</td>
	<td class="runner-cc" colspan=3>&nbsp; </td>
<td class="runner-cr"></td></tr>
	{BEGIN nip_fieldblock}		
	<tr class="runner-row style1 runner-b-srchfields"><td class="runner-cl"></td>
		<td class="runner-cc runner-cc1">
			<div class="fieldlabel_nip {$fielddispclass_nip}">
				NIP
			</div>
		</td>
	</td>
	<td class="runner-cc alt">
		<div class="fieldoption_nip {$fielddispclass_nip}">
			<input type="checkbox" {$nip_notbox}>
		</div>
	</td>
	<td class="runner-cc alt">
		<div class="fieldoption_nip {$fielddispclass_nip}">
			{$searchtype_nip}
		</div>
	</td>
	<td class="runner-cc alt">
		<div class="fieldcontrol_nip {$fielddispclass_nip}">
			{$nip_editcontrol}&nbsp;
		</div>
	</td>
	<td class="runner-cc alt">
		<div class="fieldcontrol_nip {$fielddispclass_nip}">
			{$nip_editcontrol1}&nbsp;
		</div>
	</td>
	<td class="runner-cr alt"></td></tr>
{END nip_fieldblock}
	{BEGIN nama_fieldblock}		
	<tr class="runner-row style1 runner-b-srchfields"><td class="runner-cl"></td>
		<td class="runner-cc runner-cc1">
			<div class="fieldlabel_nama {$fielddispclass_nama}">
				NAMA
			</div>
		</td>
	</td>
	<td class="runner-cc alt">
		<div class="fieldoption_nama {$fielddispclass_nama}">
			<input type="checkbox" {$nama_notbox}>
		</div>
	</td>
	<td class="runner-cc alt">
		<div class="fieldoption_nama {$fielddispclass_nama}">
			{$searchtype_nama}
		</div>
	</td>
	<td class="runner-cc alt">
		<div class="fieldcontrol_nama {$fielddispclass_nama}">
			{$nama_editcontrol}&nbsp;
		</div>
	</td>
	<td class="runner-cc alt">
		<div class="fieldcontrol_nama {$fielddispclass_nama}">
			{$nama_editcontrol1}&nbsp;
		</div>
	</td>
	<td class="runner-cr alt"></td></tr>
{END nama_fieldblock}
	{BEGIN dept_fieldblock}		
	<tr class="runner-row style1 runner-b-srchfields"><td class="runner-cl"></td>
		<td class="runner-cc runner-cc1">
			<div class="fieldlabel_dept {$fielddispclass_dept}">
				DEPARTEMEN
			</div>
		</td>
	</td>
	<td class="runner-cc alt">
		<div class="fieldoption_dept {$fielddispclass_dept}">
			<input type="checkbox" {$dept_notbox}>
		</div>
	</td>
	<td class="runner-cc alt">
		<div class="fieldoption_dept {$fielddispclass_dept}">
			{$searchtype_dept}
		</div>
	</td>
	<td class="runner-cc alt">
		<div class="fieldcontrol_dept {$fielddispclass_dept}">
			{$dept_editcontrol}&nbsp;
		</div>
	</td>
	<td class="runner-cc alt">
		<div class="fieldcontrol_dept {$fielddispclass_dept}">
			{$dept_editcontrol1}&nbsp;
		</div>
	</td>
	<td class="runner-cr alt"></td></tr>
{END dept_fieldblock}
	{BEGIN section_fieldblock}		
	<tr class="runner-row style1 runner-b-srchfields"><td class="runner-cl"></td>
		<td class="runner-cc runner-cc1">
			<div class="fieldlabel_section {$fielddispclass_section}">
				SECTION
			</div>
		</td>
	</td>
	<td class="runner-cc alt">
		<div class="fieldoption_section {$fielddispclass_section}">
			<input type="checkbox" {$section_notbox}>
		</div>
	</td>
	<td class="runner-cc alt">
		<div class="fieldoption_section {$fielddispclass_section}">
			{$searchtype_section}
		</div>
	</td>
	<td class="runner-cc alt">
		<div class="fieldcontrol_section {$fielddispclass_section}">
			{$section_editcontrol}&nbsp;
		</div>
	</td>
	<td class="runner-cc alt">
		<div class="fieldcontrol_section {$fielddispclass_section}">
			{$section_editcontrol1}&nbsp;
		</div>
	</td>
	<td class="runner-cr alt"></td></tr>
{END section_fieldblock}
	{BEGIN posisi_fieldblock}		
	<tr class="runner-row style1 runner-b-srchfields"><td class="runner-cl"></td>
		<td class="runner-cc runner-cc1">
			<div class="fieldlabel_posisi {$fielddispclass_posisi}">
				POSISI
			</div>
		</td>
	</td>
	<td class="runner-cc alt">
		<div class="fieldoption_posisi {$fielddispclass_posisi}">
			<input type="checkbox" {$posisi_notbox}>
		</div>
	</td>
	<td class="runner-cc alt">
		<div class="fieldoption_posisi {$fielddispclass_posisi}">
			{$searchtype_posisi}
		</div>
	</td>
	<td class="runner-cc alt">
		<div class="fieldcontrol_posisi {$fielddispclass_posisi}">
			{$posisi_editcontrol}&nbsp;
		</div>
	</td>
	<td class="runner-cc alt">
		<div class="fieldcontrol_posisi {$fielddispclass_posisi}">
			{$posisi_editcontrol1}&nbsp;
		</div>
	</td>
	<td class="runner-cr alt"></td></tr>
{END posisi_fieldblock}
	{BEGIN tglbayar_fieldblock}		
	<tr class="runner-row style1 runner-b-srchfields"><td class="runner-cl"></td>
		<td class="runner-cc runner-cc1">
			<div class="fieldlabel_tglbayar {$fielddispclass_tglbayar}">
				TGL PEMBAYARAN
			</div>
		</td>
	</td>
	<td class="runner-cc alt">
		<div class="fieldoption_tglbayar {$fielddispclass_tglbayar}">
			<input type="checkbox" {$tglbayar_notbox}>
		</div>
	</td>
	<td class="runner-cc alt">
		<div class="fieldoption_tglbayar {$fielddispclass_tglbayar}">
			{$searchtype_tglbayar}
		</div>
	</td>
	<td class="runner-cc alt">
		<div class="fieldcontrol_tglbayar {$fielddispclass_tglbayar}">
			{$tglbayar_editcontrol}&nbsp;
		</div>
	</td>
	<td class="runner-cc alt">
		<div class="fieldcontrol_tglbayar {$fielddispclass_tglbayar}">
			{$tglbayar_editcontrol1}&nbsp;
		</div>
	</td>
	<td class="runner-cr alt"></td></tr>
{END tglbayar_fieldblock}
	{BEGIN referensi_fieldblock}		
	<tr class="runner-row style1 runner-b-srchfields"><td class="runner-cl"></td>
		<td class="runner-cc runner-cc1">
			<div class="fieldlabel_referensi {$fielddispclass_referensi}">
				REFERENSI
			</div>
		</td>
	</td>
	<td class="runner-cc alt">
		<div class="fieldoption_referensi {$fielddispclass_referensi}">
			<input type="checkbox" {$referensi_notbox}>
		</div>
	</td>
	<td class="runner-cc alt">
		<div class="fieldoption_referensi {$fielddispclass_referensi}">
			{$searchtype_referensi}
		</div>
	</td>
	<td class="runner-cc alt">
		<div class="fieldcontrol_referensi {$fielddispclass_referensi}">
			{$referensi_editcontrol}&nbsp;
		</div>
	</td>
	<td class="runner-cc alt">
		<div class="fieldcontrol_referensi {$fielddispclass_referensi}">
			{$referensi_editcontrol1}&nbsp;
		</div>
	</td>
	<td class="runner-cr alt"></td></tr>
{END referensi_fieldblock}



<tr class="{$cfooterclass_fields}">
<td class="runner-cl"><img src="images/spacer.gif"></td>
<td class="runner-cc"></td><td class="runner-cc alt"></td><td class="runner-cc alt"></td><td class="runner-cc alt"></td><td class="runner-cc alt"></td><td class="runner-cr alt"><img src="images/spacer.gif"></td>
</tr>
</table>
{END container_fields}

</td><td class="runner-cr"></td></tr>



<tr  class="runner-row style2 runner-b-srchbuttons {$brickclass_srchbuttons}"><td class="runner-cl"></td><td class="runner-cc runner-brickcontents" >{BEGIN search_button}
<span class="runner-btnframe">
<span class="runner-btnleft"></span>
<span class="runner-btnright"></span>
<a href="#" class="runner-button" {$searchbutton_attrs}>Search</a>
</span>
{END search_button} 
{BEGIN reset_button}
<span class="runner-btnframe">
<span class="runner-btnleft"></span>
<span class="runner-btnright"></span>
<a href="#" class="runner-button" {$resetbutton_attrs}>Reset</a>
</span>
{END reset_button}
{BEGIN back_button}
<span class="runner-btnframe">
<span class="runner-btnleft"></span>
<span class="runner-btnright"></span>
<a href="#" class="runner-button" {$backbutton_attrs}>Back to list</a>
</span>
{END back_button}</td><td class="runner-cr"></td></tr>


<tr class="{$cfooterclass_search}">
<td class="runner-cl"><img src="images/spacer.gif"></td>
<td class="runner-cc"></td><td class="runner-cr"><img src="images/spacer.gif"></td>
</tr>
</table>
{END container_search}


				</td>
			</tr>
			<tr class="runner-body">
				
				<td class="runner-left {$blockclass_left}" >
					
				</td>	
				
				<td class="runner-center {$blockclass_center}">
					
				</td>	

				<td class="runner-right {$blockclass_right}">
					
				</td>	
			</tr>
			<tr class="runner-footer">
				<td class="runner-bottom" colspan=3>
					<!--%%bottom%%-->
				</td>
			</tr>
		</table>
		{$footer}
	{END body}
	</body>
</html>
